<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand nav-logo" href="#/">
        <img alt="Brand" ng-src="/app/assets/img/iaglogo.jpg">
      </a>
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">CM2OPUS</a>
    </div>
    <div class="navbar-collapse ng-scope collapse" id="dropdown-scrollable-container" ng-controller="NavCtrl" uib-collapse="!navbarCollapsed">
      <div id="dropdown-long-content">
        <div id="dropdown-hidden-container">
          <div class="btn-group custom-nav-links" uib-dropdown>
            <button id="btn-append-to" type="button" class="btn btn-link" uib-dropdown-toggle>
              OPUS <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
              <li ng-repeat="(key, value) in opusUrls">
              <a href={{value}} target="_blank">{{key}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group custom-nav-links" uib-dropdown>
            <button type="button" class="btn btn-link" uib-dropdown-toggle>
              CI <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
              <li ng-repeat="(key, value) in ciUrls">
                <a href={{value}} target="_blank">{{key}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group custom-nav-links" uib-dropdown>
            <button type="button" class="btn btn-link" uib-dropdown-toggle>
              PI <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li ng-repeat="(key, value) in piUrls">
                <a href={{value}} target="_blank">{{key}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group custom-nav-links" uib-dropdown>
            <button type="button" class="btn btn-link" uib-dropdown-toggle>
              CM <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li ng-repeat="(key, value) in cmUrls">
                <a href={{value}} target="_blank">{{key}}</a>
              </li>
            </ul>
          </div>
          <div class="btn-group pull-right" uib-dropdown>
            <ul class="nav navbar-nav navbar-right navbar-form">
              <li ng-if="isAuthenticated"><button ng-click="openLogout()" class="btn btn-default">Logout</button></li>
              <li ng-if="!isAuthenticated"><button ng-click="openLogin()" class="btn btn-default">Login</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-include='"views/flash_notice.html"'></div>

<script type="text/ng-template" id="myModalContent.html">
  <div ng-include='"views/login_form.html"'></div>
</script>

